body {
    background-color: #00303F;
    justify-content: center;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  }
  
  .title_content {
      background-color: #CAE4DB;
      color: #00303F;
      height: 200px;
      width: 200px;
      padding: 20px;
      float: left;
      transition: 600ms;
  }

  .title_content:hover {
      height: 400px;
      width: 400px;
      padding: 40px;
  }

  .title_content .hidden_content {
      opacity: 0;
  }

  .title_content:hover .hidden_content {
      opacity: 1;
      transition: 4.7s;
  }

  .clickable {
      cursor: pointer;
  }

  #assignment_links {
      background-color: #CAE4DB;
      color: #00303F;
      height: 200px;
      width: 400px;
      padding: 20px;
      float: left;
      margin-left: 20px;
      opacity: 0;
      transition: 600ms;
  }
  
  section#assignment_links > nav > ul > li > a {
    color: #00303F;
    font-weight: bold;
  }

  section#assignment_links > nav > ul {
    list-style-type: square;
  }